.heading {
    width: 80%;
    margin: 20px auto;
    font-size: 40px;
    letter-spacing: 5px;
    color: black;
    height: 45%;
  }
  .animationOne {
    animation: animationOne 1s 5ms 1;
  }
  @keyframes animationOne {
    from {
      margin-left: 100px;
      opacity: 0;
      filter: blur(5px);
    }
    to {
      margin-left: 0;
      opacity: 1;
      filter: blur(0);
    }
  }
  .animationTwo {
    animation: animationTwo 1s 5ms 1;
    opacity: 0;
  }
  @keyframes animationTwo {
    from {
      margin-left: 0;
      opacity: 1;
      filter: blur(0);
    }
    to {
      margin-left: 100px;
      opacity: 0;
      filter: blur(5px);
    }
  }
  
  
  .mainBox-wrap{
      width: 1300px;
      height: 800px;
      border: 1px solid black;
      border-radius: 10px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  
.maincutbox{
    width: 1300px;
    height: 800px;
    border: 1px solid black;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.maincutbox.is-active{
    display: none;
}
.maincutboxnone{
    width: 1300px;
    height: 800px;
    border: 1px solid black;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;

}

.next{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    cursor: pointer;
}